.courses-details-thumb {
  border-radius: 15px;
  min-height: 250px;
  object-fit: cover;
}

.courses-details-content .courses-item-meta {
  justify-content: flex-start;
  gap: 15px;
}

.meta {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  color: #585d69;
  gap: 12px;
  flex-direction: row;
}

.meta-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  white-space: nowrap;
}

.meta .meta-item {
  position: relative;
  gap: 7px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.meta .meta-item:not(:last-child) {
  padding-right: 10px;
}

.meta-item p {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
}

.meta-item i {
  font-size: 14px;
}

.meta .meta-item:not(:last-child):after {
  position: absolute;
  content: "";
  right: 0;
  width: 1px;
  height: 16px;
  background-color: #e4e4e7;
}

.section-page-title {
  padding: 0 !important;
}

.page-title {
  position: relative;
}

.tf-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 14px;
  padding-left: 14px;
  width: 1428px;
  max-width: 100%;
}

.tf-container .row {
  margin-left: -14px !important;
  margin-right: -14px !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.entry-meta {
  gap: 0 !important;
  font-size: 15px;
  margin-bottom: 28px !important;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.entry-meta li {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 14px;
  height: 18px;
}

.entry-meta li:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid #e4e4e7;
}

.ratings {
  display: flex;
  align-items: center;
  gap: 7px;
}

@media (min-width: 768px) {
  .meta-item {
    flex-direction: column;
  }
}

@media (min-width: 992px) {
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
}